.floating-home{
    position:fixed;
    top:25px;
    left:25px;
    z-index:999;

    display:inline-block;

    padding:12px 20px;

    background:rgba(0,191,255,.1);

    border:1px solid rgba(0,191,255,.4);

    border-radius:12px;

    color:#00bfff;

    text-decoration:none;

    font-weight:600;

    transition:.3s;
}

.floating-home:hover{
    transform:translateY(-3px);
    box-shadow:0 0 15px rgba(0,191,255,.4);
}

.floating-home,
.login-btn,
.register-btn{
    padding:12px 20px;
    background:rgba(0,191,255,.1);
    border:1px solid rgba(0,191,255,.4);
    border-radius:12px;
    color:#00bfff;
    text-decoration:none !important;
    font-weight:600;
    backdrop-filter:blur(10px);
    transition:.3s;
    cursor:pointer;
    display:inline-block;
    text-align:center;
}

.floating-home:hover,
.login-btn:hover,
.register-btn:hover{
    transform:translateY(-3px);
    box-shadow:0 0 15px rgba(0,191,255,.6);
    background:rgba(0,191,255,.2);
}

.section-title{
    text-align:center;
    font-size:clamp(28px,5vw,36px);
    letter-spacing:1px;
    font-weight:700;
    color:#00bfff;
    margin-bottom:40px;
    text-shadow:0 0 10px #00bfff,0 0 20px #00bfff;
}

.logo-wrapper{
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
    width:260px;
    height:260px;
    margin:auto;
}

.logo-ring::before{
    content:"";
    position:absolute;
    inset:12px;
    border-radius:50%;
    background:#050816;
}

.logo-ring{
    position:absolute;
    width:250px;
    height:250px;
    border-radius:50%;
    background:
    conic-gradient(
        from 0deg,
        transparent,
        #00bfff,
        #1e90ff,
        #00e5ff,
        transparent
    );

    animation:spin 3s linear infinite;

    filter:blur(3px);

    box-shadow:
    0 0 20px #00bfff,
    0 0 40px #00bfff,
    0 0 60px #00bfff;
}